# Logs
logs
*.log

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Nuxt build output
.nuxt

# Nuxt generate
dist

# Firebase Admin SDK
m33-yokoso-firebase-admin-sdk.json
